NODE_ENV=production
PORT=3001

DB_HOST=mysql.railway.internal
DB_PORT=3306
DB_USER=root
DB_PASSWORD=zFyHYOaNWVjpOjPJamRBufLkBeRsqZUv
DB_NAME=sisley_platform

JWT_SECRET=sisley-colombia-2026-produccion-seguro-cambiar

NEXT_PUBLIC_FRONTEND_URL=https://sisleyy.netlify.app

MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_PUBLIC_KEY=

FACTUS_API_URL=
FACTUS_API_KEY=
