NODE_ENV=production
PORT=3001
DB_HOST=${{MYSQLHOST}}
DB_PORT=${{MYSQLPORT}}
DB_USER=${{MYSQLUSER}}
DB_PASSWORD=${{MYSQLPASSWORD}}
DB_NAME=${{MYSQL_DATABASE}}
JWT_SECRET=<generar uno seguro>
NEXT_PUBLIC_FRONTEND_URL=https://sisleyy.netlify.app
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_PUBLIC_KEY=
FACTUS_API_URL=
FACTUS_API_KEY=